@font-face {
  font-family: 'Starjhol';
  src: url('./Starjhol.ttf') format('truetype');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: black;
}