.App {
  background-color: black;
  color: white;
  min-height: 100vh;
  width: 90%;
  margin: auto;
}

.h1 {
  font-family: 'Starjhol';
  font-size: 5rem;
  margin: 10px 0;
  text-align: center;
  color: yellow;
  cursor: pointer;
}

.section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1%;
  grid-row-gap: 10px;
  margin-bottom: 25px;
}

.div--open {
  color: yellow;
  animation: scrolling 20s linear normal forwards;
  
  .h3--title {
    font-size: 3.5rem;
    text-align: center;
  }

  .p--opening-crawl {
    font-size: 3rem;
    text-align: justify;
  }

  .p--release-date {
    font-size: 1.5rem;
    text-align: right;
  }
}

.h3--no-fav {
  font-size: 1.8rem;
  text-align: center;
  grid-column: 1/5;
  text-transform: uppercase;
  margin-top: 20px;
}

@keyframes scrolling {
  0% {
    transform: translateY(95vh);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 1080px) {
  .div--open {
    .h3--title {
      font-size: 3rem;
    }
  
    .p--opening-crawl {
      font-size: 2.5rem;
    }
  
    .p--release-date {
      font-size: 1.2rem;
    }
  }

  .section {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .div--open {
    .h3--title {
      font-size: 2.7rem;
    }
  
    .p--opening-crawl {
      font-size: 2.2rem;
    }
  
    .p--release-date {
      font-size: 1rem;
    }
  }

  .section {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 550px) {
  .h1 {
    margin: 5px 0;
    font-size: 3.5rem;
  }

  .div--open {
    .h3--title {
      font-size: 1.8rem;
    }
  
    .p--opening-crawl {
      font-size: 1.7rem;
    }
  }

  .section {
    grid-template-columns: 315px;
    justify-content: space-around;
  }
}

@media screen and (max-width: 385px) {
  .App {
    width: 100%;
  }

  .h1 {
    margin: 12px 0 11px;
    font-size: 2.8rem;
  }

  .div--open {
    margin: 0 20px;

    .h3--title {
      font-size: 1.5rem;
    }
  
    .p--opening-crawl {
      font-size: 1.4rem;
    }
  }

  .section {
    grid-template-columns: 300px;
  }
}