.Controls {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  margin: 15px 0;

  .button {
    width: 50%;
    min-width: 140px;
    background-color: black;
    border: 3px solid white;
    color: white;
    height: 50px;
    border-radius: 25px;
    margin: auto;
    text-transform: uppercase;
    outline: none;
    font-size: 1.2rem;

    &:hover {
      cursor: pointer;
      border: 3px solid yellow;
      color: yellow;
    }
  }
  
  .button--active {
    @extend .button;
    border: 3px solid yellow;
    color: yellow;
  }
}

@media screen and (max-width: 800px) {
  .Controls {
    .button {
      height: 40px;
      min-width: 120px;
      margin: 5px auto;
      font-size: 1rem;
    }
  }
}

@media screen and (max-width: 550px) {
  .Controls {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0 auto 10px;
    width: 315px;

    .button {
      height: 40px;
      min-width: 120px;
      margin: 5px auto;
      font-size: 1rem;
    }
  }
}